/* CustomButton.css */
.button {
    background-color: #56409e;
    padding: 12px 14px;
    text-align: center;
    border-radius: 12px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border: none;
  }
  
  .button:hover {
    background-color: #45348b;
  }
  
  .w-full {
    width: 100%;
  }
  
  .mt-7 {
    margin-top: 1.75rem; /* Adjust as necessary */
  }