.header {
    position: relative;
    display: flex;
    gap: 20px; 
    height: 80px; 
    background:#ffffff;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center; 
}

.text {
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100vw - 100px); 
}

.bellIcon {
    color: rgb(172, 172, 172);
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, filter 0.4s ease-in-out; 
}

.bellIcon:active {
    transform: scale(0.9); 
}

.bellIconContainer {
    position: relative;
}

.notificationCount {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    font-size: 8px;
    background-color: rgb(255, 95, 95);
    color: white;
    border: 1px solid rgb(255, 62, 62);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
   height: 60px;
   cursor: pointer;
   width: 60px;
   border-radius: 50%;
}

.button {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    user-select: none;
    display:inline-flex;
}

.icon {
    margin-right: 20px;
    font-size: 20px;
}

.button:hover {
    background-color: #a5a5a5; 
}

.button:active {
    transform: scale(0.98); 
    color:#ffffff;
}

.button1:active {
    background-color: #ff0000; 
}

.button2:active {
    background-color: #5B7FFF; 
}
