
.works {
    background-color: #2857ff7f;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 90px; 
    overflow: hidden; 
    cursor: pointer;
}

.work:active {
    background-color: #8cb8f7; 
}

.workContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.workText {
    flex: 1;
    overflow: hidden;
}

.workTitle {
    background: none;
    padding: 0;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.workNote {
    color: #fff;
    font-size: 14px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.workProgress {
    width: 50px;
    height: 50px;
}

.filter {
    display: flex; 
    gap: 20px;  
    justify-content: right;
    margin: 15px 0;
}

