.mainBackground {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 4vh 8vw;
    min-height: 92vh;
    padding: 4vh 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center; 
    min-height: 80px;
}

.inputContainer {
    display:flex;
    flex-direction: column; 
    gap: 5vh;
}

.loginContainer {
    display:flex;
    flex-direction: column; 
    gap: 2vh;
}

.confirm {
    border-radius: 40px;
    width: 100%;
}

.register {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}


.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px; 

  }
  
.logoIcon {
    display: flex;
    font-size: 3rem;
    cursor: pointer;
}
  
.logoIcon:active {
    transform: scale(0.9);
}

.or {
    display: flex;
    justify-content: center;
}