.feedBack {
    min-height: 220px;
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid #d4d4d4;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    resize: vertical;
}

.feedBack:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button {
    position: absolute;
    bottom: 30px;
    height: 45px;
    font-weight: 600;
    left:30px;
    right: 30px;
    border-radius: 10px;
}



