.schedule {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* padding: 20px; */
  }
  
  .schedule-item {
    display: grid;
    grid-template-columns: auto 1fr;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .time-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  .time-start,
  .time-end {
    font-weight: bold;
  }
  
  .arrow {
    font-size: 20px;
  }
  
  .details-column {
    display: flex;
    flex-direction: column;
  }

  .subject {
    font-size: 16px;
    font-weight: bold;
  }

  .content {
    font-size: 13px;
  }

   .week {
    font-size: 14px;
    color: #555;
  }
  

  .button {
    background-color: #ffffff00;
    border: none;
  }