.tab-nav {
    display: flex;
    justify-content: space-around;
    border-bottom: none;
  }
  
  .tab-link {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    color: #8E92BC; 
    font-weight: normal;
    transition: color 0.3s ease;
    border-bottom: 2px solid transparent;
  }
  
  .tab-link.active {
    color: #000; 
    font-weight: bold;
    border-bottom: 2px solid #546FFF; 
  }