.chartContainer {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  margin: 0;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.header p {
  margin: 0;
  color: #999;
  font-size: 14px;
}
