.toggle-container {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  padding: 0; 
  gap: 20px;
}

.toggle-button {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border: 2px solid #d3d3d3;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.toggle-button.active {
  border-color: #546FFF;
}

.toggle-button:not(.active) {
  border-color: #f0f8ff;
}

.check-mark {
  width: 20px;
  height: 20px;
  border: 5px solid #546FFF;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff; 
}