.calendar {
  text-align: center;
}

.selectYear {
  color: #605DEC;
  background-color: #EBEBF6;
  font-weight: bold;
  border: none;
  width: 100%;
}

.selectYear:hover {
  color: #4441f7;
  background-color: #e8e8ff;
}

.menuYear {
  max-height: 110px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width:100%;
}

.menuYear::-webkit-scrollbar {
  display: none; 
}

.month {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #605DEC;
  font-weight: bold;
}

.month button {
  color: #605DEC;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

.month button:hover {
  background-color: #f0f0f0;
}

.month h6 {
  margin: 0 10px;
  color: #605DEC;
  font-weight: bold;
}

.daysHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  width: 100%;
  padding: 0 20px;
}

.daysHeader span {
  padding: 5px;
}

.daysContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 100%;
  justify-items: center;
}

.days span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.days span.selected {
  border-radius: 5px;
  background-color: #605DEC;
  color: white;
}

.days span.selected1 {
  border-radius: 90%;
  background-color: #5B7FFF;
  color: white;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  z-index: 3;
}

.backdrop {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 2;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.button {
  border: none;
  background-color: #ffffff;
  padding: 0 10px;
  font-weight: 500;
}

.selectedDate {
  color: rgb(255, 255, 255);
  background-color: #5B7FFF;
  width: 100%;
  height: 75px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

.buttonClock {
  width: 200px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0.5px solid #cecece;
  background-color: #F2F2F2;
}